<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Editorial by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

				<!-- Header -->
                <header id="header">
                    <a href="/" class="logo"><strong>DonAtion</strong> 생활 속 기부 플랫폼</a>
                    <ul class="icons">
                        <li><a href="/login" id='login' class="button primary small">sign in</a></li>
                    </ul>
                </header>
                
                <!-- Content -->
                <section>
                    <header class="main">
						<h2>기부하기</h2>
					</header>
                    
                    <br><br>
                    <h2 id="content">금액을 입력해주세요</h2>
                    <div class="col-12">
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="demo-name" id='amount' placeholder="0 원" value=""/>
                        </div>
                    </div>

                    <br><br>

                    <ul class="actions fit">
                        <li><button type="button" id="sendBtn" class="button primary fit"> 기부하기 </button></li>
                    </ul>
                    
                </section>
                </div>
                </div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="/">돈에이션</a></li>
						<li><a href="/dutchRequest">더치페이 요청</a></li>
						<li><a href="/charityList">기부처 리스트</a></li>
						<li><a href="/myCharity">나의 기부현황</a></li>
						<li><a href="/profile">마이페이지</a></li>
					</ul>
				</nav>



				<!-- Section -->
				<section>
					<header class="major">
						<h2>Get in touch</h2>
					</header>
					<p>더치페이를 활용한 기부 플랫폼 <br> <b>돈에이션(DonAtion)</b>을 통해 생활속에서 따뜻한 나눔을 실천해보세요!</p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">Donation@DonAtion.com</a></li>
						<li class="icon solid fa-phone">(02) 1234-0525</li>
						<li class="icon solid fa-home">Seoul<br />
							junggu, TN 12098</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a
							href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5
							UP</a>.</p>
				</footer>

			</div>
		</div>

	</div>


    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
        
        <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
        <script src="/js/bootstrap.min.js"></script>
        <script>
            var jwtToken = sessionStorage.getItem('jwtToken')
            var button = document.getElementById('login');
            window.onload = function () {
                if (jwtToken) {
                    $('#login').html('sign out');
                    button.setAttribute('href', '/');
                }
                else {
                    $('#login').html('sign in');
                    button.setAttribute('href', '/login');
                }
            }
            $("#login").click(function () {
                if ($('#login').html() == 'sign out') {
                    alert('로그아웃 되었습니다');
                    sessionStorage.clear();
                    location.reload();
                }
            })


            $('#sendBtn').click(function () {
                var charityid = '<%=data[0].charityid%>';
                var amount = $("#amount").val();
                var jwtToken = sessionStorage.getItem('jwtToken')

                $.ajax({
                    url: '/charitySend',
                    type: 'POST',
                    headers: {
                        'ourtoken': jwtToken
                    },
                    data: {
                        charityid: charityid,
                        amount: amount
                    },
                    success: function (data) {
                        window.location.href = '/myCharity'
                    }
                })
            })

        </script>
	</body>
</html>




