<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>돈에이션 로그인</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
				<!-- Header -->
				<header id="header">
					<a href="/" class="logo"><strong>DonAtion</strong> 생활 속 기부 플랫폼</a>
					<ul class="icons">
					</ul>
				</header>

							<!-- Content -->
								<section>

										<!-- Content -->
										<h2 id="content">SIGN UP</h2>

										<div class="col-12">
											<div class="col-6 col-12-xsmall">
												<input type="text" name="demo-name" id='userName' value="" placeholder="Name" />
											</div>
										</div>
										<br>
                                        <div class="col-12">
                                            <div class="col-6 col-12-xsmall">
                                                <input type="text" name="demo-name" id='userEmail' value="" placeholder="E-mail" />
                                            </div>
                                        </div>
										<br>
                                        <div class="col-12">
                                            <div class="col-6 col-12-xsmall">
                                                <input type="password" name="demo-name" id='userPassword' value="" placeholder="Password" />
                                            </div>
										</div>
										<br>
										<div class="col-12">
											<div class="col-6 col-12-xsmall">
												<input type="password" name="demo-name" id='userAccessToken' value="" placeholder="accessToken" />
											</div>
										</div>
										<br>
										<div class="col-12">
											<div class="col-6 col-12-xsmall">
												<input type="password" name="demo-name" id='userRefreshToken' value="" placeholder="refreshToken" />
											</div>
										</div>
										<br>
										<div class="col-12">
											<div class="col-6 col-12-xsmall">
												<input type="password" name="demo-name" id='userSeqNo' value="" placeholder="userseqno" />
											</div>
										</div>
                                        
										<br><br>

										<ul class="actions fit">
											<li><button id='authBtn' class="button primary fit">인증받기</button></li>
											<li><button id='signupBtn' class="button fit">SIGN UP</button></li>
										</ul>

								</section>

						</div>
					</div>

				<!-- Sidebar -->
				<div id="sidebar">
					<div class="inner">
		
						<!-- Search -->
						<section id="search" class="alt">
							<form method="post" action="#">
								<input type="text" name="query" id="query" placeholder="Search" />
							</form>
						</section>
		
						<!-- Menu -->
						<nav id="menu">
							<header class="major">
								<h2>Menu</h2>
							</header>
							<ul>
								<li><a href="/">돈에이션</a></li>
								<li><a href="/dutchRequest">더치페이 요청</a></li>
								<li><a href="/charityList">기부처 리스트</a></li>
								<li><a href="/myCharity">나의 기부현황</a></li>
								<li><a href="/profile">마이페이지</a></li>
							</ul>
						</nav>
		
		
		
						<!-- Section -->
						<section>
							<header class="major">
								<h2>Get in touch</h2>
							</header>
							<p>더치페이를 활용한 기부 플랫폼 <br> <b>돈에이션(DonAtion)</b>을 통해 생활속에서 따뜻한 나눔을 실천해보세요!</p>
							<ul class="contact">
								<li class="icon solid fa-envelope"><a href="#">Donation@DonAtion.com</a></li>
								<li class="icon solid fa-phone">(02) 1234-0525</li>
								<li class="icon solid fa-home">Seoul<br />
									junggu, TN 12098</li>
							</ul>
						</section>
		
						<!-- Footer -->
						<footer id="footer">
							<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a
									href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5
									UP</a>.</p>
						</footer>
		
					</div>
				</div>
		
			</div>
		

    
    <!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>


	<script>
			$("#authBtn").click(function(){
				var tmpWindow = window.open('about:blank');
				tmpWindow.location = "https://testapi.openbanking.or.kr/oauth/2.0/authorize?response_type=code&client_id=a4VYuap4YmsWUp8gRiFKHvnT2s7wNTD90mbRkuGN&redirect_uri=http://localhost:3000/authResult&scope=login inquiry transfer&state=12345678901234567890123456789012&auth_type=0";
			})
			$("#signupBtn").click(function(){
				var userName = $("#userName").val();
				var userEmail = $("#userEmail").val();
				var userPassword = $("#userPassword").val();
				var userAccessToken = $("#userAccessToken").val();
				var userRefreshToken = $("#userRefreshToken").val();
				var userSeqNo = $("#userSeqNo").val();
				$.ajax({
					url:'/signup',
					type : 'POST',
					data : {
						userName : userName,
						userEmail : userEmail,
						userPassword : userPassword,
						userAccessToken : userAccessToken,
						userRefreshToken : userRefreshToken,
						userSeqNo : userSeqNo
					},
					success:function(data){
						if(data == '1'){
							alert('회원가입 되었습니다!');
							window.location.href = "/login";
						}
						else{
							alert('다시 시도해주세요.');
						}
					}
				})
	
			})
		</script>

    </body>

</html>


